<div>
  <div>
    <table class="text-left table table-bordered vertical-middle">
      <thead class="text-color-c4">
        <tr>
          <th style="width: 120px;">类别</th>
          <th>名称</th>
          <th>描述信息</th>
          <th>添加时间</th>
          <th style="width: 120px;" class="tc">操作</th>
        </tr>
      </thead>
      <tbody class="text-color-c6" ng-repeat="t in types">
        <tr>
          <td ng-bind="displayData[t][0].type" rowspan="{{displayData[t].length}}"></td>
          <td ng-bind="displayData[t][0].name"></td>
          <td ng-bind="displayData[t][0].description"></td>
          <td ng-bind="displayData[t][0].updatedTime | date: 'yyyy-MM-dd HH:mm'"></td>
          <td class="text-color-c9 tc">
            <a ng-click="openDeleteDialog(displayData[t][0])" target="_blank">删除</a>
          </td>
        </tr>

        <tr ng-repeat="p in displayData[t]" ng-if="$index!==0">
          <td ng-bind="p.name"></td>
          <td ng-bind="p.description"></td>
          <td ng-bind="p.updatedTime | date: 'yyyy-MM-dd HH:mm'"></td>
          <td class="text-color-c9 tc">
            <a ng-click="openDeleteDialog(p)" target="_blank">删除</a>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr ng-if="loadingStatus!=''">
          <td colspan="5" class="tc" ng-bind="loadingStatus"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
