<div class="tl panel panel-default">
  <div class="panel-heading">
    <form class="navbar-form navbar-left full-width" role="search">
      <div class="input-group-addon tc">
        <span class="">所在域：</span>
        <div class="btn-group" dropdown is-open="domainDropdown.isOpen">
          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            <span ng-bind="domainDropdown.option.displayName"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="it in domainDropdown.items">
              <a ng-click="domainDropdown.selectOption(it)" ng-bind="it.displayName"></a>
            </li>
          </ul>
        </div>

        <span class="">
          <span class="">菜单名称：</span>
          <input ng-model="criteria.name" type="text" class="form-control" placeholder="菜单名称" maxlength="30">
        </span>

        <button type="submit" ng-click="onsearch()" class="fr btn btn-default">查询</button>
      </div>

    </form>
    <div class="clear"></div>
  </div>

  <div class="panel-body">
    <div>
      <table class="tl table table-striped">
        <thead>
          <tr>
            <th>序号</th>
            <th>选择</th>
            <th>所在域</th>
            <th>父菜单</th>
            <th>名称</th>
            <th>URL/模式</th>
            <th>描述信息</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in searchRslt">
            <td ng-bind="$index+1"></td>
            <td>
              <div class="checkbox">
                <label>
                  <input ng-model="r.selected" ng-click="toggle(r)" type="checkbox">
                </label>
              </div>
            </td>
            <td ng-bind="r.domainName"></td>
            <td ng-bind="r.parentId"></td>
            <td ng-bind="r.name"></td>
            <td ng-bind="r.uri"></td>
            <td ng-bind="r.description"></td>
          </tr>
          <tr ng-if="searchRslt.length>0">
            <td></td>
            <td>
              <div class="checkbox">
                <label>
                  <input ng-model="selectAll" ng-click="toggleAll(selectAll)" type="checkbox">全选
                </label>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr ng-if="loadingStatus!=''">
            <td colspan="7" class="tc" ng-bind="loadingStatus"></td>
          </tr>
        </tbody>
      </table>

      <pagination ng-if="searchRslt && searchRslt.length" boundary-link-numbers="true" force-ellipses="true" max-size="10" boundary-links="true" ng-change="onsearch()" items-per-page="pagination.pageSize" total-items="pagination.totalCount" ng-model="pagination.curPage" class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

      <div class="clear tc">
        <button ng-show="searchRslt.length>0" ng-click="bind()" ng-disabled="bindList.length<1" type="button" class="btn btn-success">保存</button>
        <a class="btn btn-default" ng-href="#/role/{{roleId}}" role="button">返回</a>
      </div>
      <div class="tc" style="margin-top: 1.5em;">
        <span ng-if="bindResult=='failed'" class="alert alert-danger">添加失败，请稍后再试</span>
        <span ng-if="bindResult=='success'" class="alert alert-success">您已成功保存{{saveNum}}条数据</span>
      </div>
    </div>
  </div>
</div>
