<div ng-include="'views/common/header.html'"></div>
<div class="tl panel">
  <div class="panel-heading">
    <p class="text-size-s1 text-color-c6">角色信息</p>
    <div class="row text-size-s3">

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">角色名称：</div>
          <div class="col-md-8 tl  text-color-c6" ng-bind="role.name"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">描述信息：</div>
          <div class="col-md-8 tl text-color-c6" ng-bind="role.description"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">创建时间：</div>
          <div class="col-md-8 tl text-color-c6" ng-bind="role.createdTime|date: 'yyyy-MM-dd HH:mm'"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">更改时间：</div>
          <div class="col-md-8 tl text-color-c6" ng-bind="role.updatedTime|date: 'yyyy-MM-dd HH:mm'"></div>
        </div>
      </div>

    </div>
  </div>

  <div ng-show="role.name">
    <hr/>
    <div>
      <ul class="nav nav-tabs">
        <li ng-click="switchTab('permission')" role="presentation" ng-class="{active: currentTab=='permission'}"><a>权限列表</a></li>
      </ul>
    </div>
    <div class="panel-body" ng-if="currentTab=='permission'">
        <role-permission id="role.id"></role-permission>
    </div>
  </div>
</div>
