<style>
.nav-tabs> li> a {
  border: 1px solid #ccc;
}

</style>
<div ng-include="'views/common/header.html'"></div>
<div class="tl panel">
  <div class="panel-heading">
    <p class="text-size-s1 text-color-c6">角色信息</p>
    <div class="row text-size-s3">

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">角色名称：</div>
          <div class="col-md-8 tl  text-color-c6" ng-bind="role.name"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">描述信息：</div>
          <div class="col-md-8 tl text-color-c6" ng-bind="role.description"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">创建时间：</div>
          <div class="col-md-8 tl text-color-c6" ng-bind="role.createdTime|date: 'yyyy-MM-dd HH:mm'"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">更改时间：</div>
          <div class="col-md-8 tl text-color-c6" ng-bind="role.updatedTime|date: 'yyyy-MM-dd HH:mm'"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>
  <hr />
  <div>
    <div class="panel-body">
      <p class="float-left">权限列表</p>
      <a class="btn btn-default float-right" ng-href="#/user/{{paraUserId}}/role/add">
          添加权限
        </a>
    </div>

    <table class=" table table-striped">
      <thead class="text-size-s3 text-color-c4">
        <tr>
          <th>序号</th>
          <th>权限名称</th>
          <th>描述信息</th>
          <th>创建时间</th>
          <th>修改时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody class="text-size-s3 text-color-c6">
        <tr ng-if="userRoleLoading!=''">
          <td colspan="6" class="tc" ng-bind="userRoleLoading"></td>
        </tr>

        <tr ng-repeat="d in roleOfUser">
          <td>{{$index + 1}}</td>
          <td ng-bind="d.name"></td>
          <td ng-bind="d.description"></td>
          <td ng-bind="d.createDate | date: 'yyyy-MM-dd HH:mm:ss'"></td>
          <td ng-bind="d.lastUpdate | date: 'yyyy-MM-dd HH:mm:ss'"></td>
          <td class="text-color-c9"><a href="" ng-click="removeRoleDialog.open(d.id)">移除</a></td>
        </tr>
      </tbody>
    </table>
    <div class="clear">
      <span ng-if="removeRoleSuccess === false" class="alert alert-danger">移除用户角色失败，请稍后再试</span>
      <span ng-if="removeRoleSuccess === true" class="alert alert-success">移除用户角色成功</span>
    </div>
  </div>
