<div>
  <div ng-include="'views/common/header.html'"></div>
  <div class="panel text-left">
    <div class="panel-heading">
      <p class="text-size-s1 text-color-c6">用户信息</p>
      <div class="row text-size-s3">
        <div class="col-md-6">
          <div class="row text-size-s3">
            <div class="col-md-4 text-color-c4">用户姓名：</div>
            <div class="col-md-8 text-color-c6" ng-bind="userDetail.name"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row text-size-s3">
            <div class="col-md-4 text-color-c4">邮箱：</div>
            <div class="col-md-8 text-color-c6" ng-bind="userDetail.email"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row text-size-s3">
            <div class="col-md-4 text-color-c4">创建时间：</div>
            <div class="col-md-8 text-color-c6" ng-bind="userDetail.createdTime | date:'yyyy-MM-dd HH:mm:ss'"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row text-size-s3">
            <div class="col-md-4 text-color-c4">最近更新时间：</div>
            <div class="col-md-8 text-color-c6" ng-bind="userDetail.updatedTime | date:'yyyy-MM-dd HH:mm:ss'"></div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="userDetail.name">
      <hr/>
      <div>
        <ul class="nav nav-tabs">
            <li ng-hide="currentTab.indexOf('add')===0" ng-class="{active: currentTab==='permission'}"><a ng-click="switchTab('permission')">权限列表</a></li>
            <li ng-hide="currentTab.indexOf('add')===0" ng-class="{active: currentTab==='role'}"><a ng-click="switchTab('role')">所属角色</a></li>
            <li ng-hide="currentTab.indexOf('add')===0"  ng-class="{active: currentTab==='group'}"><a ng-click="switchTab('group')">所属组</a></li>
            <li ng-show="currentTab==='add-role'" ng-click="switchTab('role')"><a>&lt;&lt;返回</a></li>
            <li ng-show="currentTab==='add-group'" ng-click="switchTab('group')"><a>&lt;&lt;返回</a></li>
            <li ng-hide="currentTab.indexOf('add')===0" class="actions" style="float:right;"><a class="btn btn-default" ng-click="switchTab('add-role')">添加角色</a></li>
            <li ng-hide="currentTab.indexOf('add')===0" class="actions" style="float:right;"><a class="btn btn-default" ng-click="switchTab('add-group')">添加组</a></li>
        </ul>
      </div>
      <div class="panel-body" ng-if="currentTab=='permission'">
          <user-permission id="userDetail.id"></user-permission>
      </div>
      <div class="panel-body" ng-if="currentTab=='group'">
          <user-group id="userDetail.id"></user-group>
      </div>
      <div class="panel-body" ng-if="currentTab=='role'">
          <user-role id="userDetail.id"></user-role>
      </div>
      <div class="panel-body" ng-if="currentTab=='add-group'">
          <user-add-group id="userDetail.id"></user-add-group>
      </div>
      <div class="panel-body" ng-if="currentTab=='add-role'">
          <user-add-role id="userDetail.id"></user-add-role>
      </div>
    </div>

  </div>
</div>
