<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>选择</th>
      <th>角色名称</th>
      <th>描述信息</th>
      <th>创建时间</th>
      <th>修改时间</th>
      <th>禁用</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="roleAddLoading!=''">
      <td colspan="7" class="tc" ng-bind="roleAddLoading"></td>
    </tr>

    <tr ng-repeat="d in allRoles">
      <td>{{$index + 1}}</td>
      <td>
        <input type="checkbox" ng-model="d.toAdd" />
      </td>
      <td ng-bind="d.name"></td>
      <td ng-bind="d.description"></td>
      <td ng-bind="d.createDate | date: 'yyyy-MM-dd HH:mm:ss'"></td>
      <td ng-bind="d.lastUpdate | date: 'yyyy-MM-dd HH:mm:ss'"></td>
      <td ng-bind="!d.enabled?'禁用':'启用'"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="checkbox" ng-model="roleAllSelected" ng-click="selectAllRoles()" /> 全选
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<pagination boundary-link-numbers="true" force-ellipses="true" max-size="10" boundary-links="true" ng-change="getAllRolesByPage()" items-per-page="pagination.pageSize" total-items="pagination.totalCount" ng-model="pagination.curPage" class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <button type="submit" class="btn btn-default" ng-click="manageRoleOfUser()">保存</button>
    <a type="submit" class="btn btn-default" ng-href="#/user/{{paraUserId}}">返回</a>
  </div>
</div>
<div class="clear">
  <span ng-if="manageRoleOfUserSuccess === false" class="alert alert-danger">保存失败，请稍后再试</span>
  <span ng-if="manageRoleOfUserSuccess === true" class="alert alert-success">您已成功保存{{saveNums}}条数据</span>
</div>
