<div>
  <div class="row">
    <div class="col-md-2 col-sm-3">
      <div>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="text-left"><a href="#/domain">域管理</a></li>
          <li role="presentation" class="text-left"><a href="#/role">角色管理</a></li>
          <li role="presentation" class="text-left active"><a href="#/user">用户管理</a></li>
          <li role="presentation" class="text-left"><a href="#/group">组管理</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10 col-sm-9">
      <form class="navbar-form navbar-left full-width" role="search">
        <div class="input-group fl">
          <span class="">用户邮箱：</span>
          <div class="form-group mg-rt-1">
            <input type="text" class="form-control" placeholder="用户邮箱" ng-model="criteria.email" maxlength="40">
          </div>
          <button type="submit" ng-click="queryUser()" class="btn mg-rt-1 btn-default">查询</button>
          <span class="text-color-c4" ng-if="lastCritria && lastCritria.email">搜索【{{lastCritria.email}}】结果:</span>
        </div>
        <a class="btn fr btn-default mg-rt-1" ng-click="addUserDialog()" role="button">新增角色</a>
        <div class="clear"></div>
    </form>

      <div>
        <table class="text-left table grey-border table-hover vertical-middle">
          <thead class="text-color-c4">
            <tr>
              <th>序号</th>
              <th>姓名</th>
              <th>邮箱</th>
              <th>创建时间</th>
              <th>禁用</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody class="text-color-c6">
            <tr ng-repeat="d in users">
              <td>{{$index + 1}}</td>
              <td ng-bind="d.name"></td>
              <td ng-bind="d.email"></td>
              <td>{{d.createDate | date:'yyyy-MM-dd HH:mm'}}</td>
              <td ng-bind="!d.enabled?'是':'否'"></td>
              <td class="text-color-c9">
                <a ng-href="#/user/{{d.id}}" target="_blank">详情</a>
              </td>
            </tr>

            <tbody>
              <tr ng-if="loadingStatus!=''">
                <td colspan="6" class="tc" ng-bind="loadingStatus"></td>
              </tr>
            </tbody>

          </tbody>
        </table>
        <pagination ng-if="users && users.length" boundary-link-numbers="true" force-ellipses="true" max-size="10" boundary-links="true" ng-change="queryUser()" items-per-page="pagination.pageSize" total-items="pagination.totalCount" ng-model="pagination.curPage" class="pagination-sm float-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>
