<div ng-include="'views/common/header.html'"></div>
<p class="notFoundOrError" ng-show="roleNotFound">未查询相关信息，该信息很可能已被删除。</p>
<p class="notFoundOrError" ng-show="serverError">服务器异常，请稍后再试。</p>
<div class="tl panel" ng-show="role.name">
  <div class="panel-heading">
    <p class="text-size-s1 text-color-c6">组信息</p>
    <div class="row text-size-s3">

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">组名称：</div>
          <div class="col-md-8 tl  text-color-c6" ng-bind="role.name"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">描述信息：</div>
          <div class="col-md-8 tl text-color-c6" ng-bind="role.description"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">创建时间：</div>
          <div class="col-md-8 tl text-color-c6" ng-bind="role.createdTime|date: 'yyyy-MM-dd HH:mm'"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">更改时间：</div>
          <div class="col-md-8 tl text-color-c6" ng-bind="role.updatedTime|date: 'yyyy-MM-dd HH:mm'"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row text-size-s3">
          <div class="col-md-4 text-color-c4">当前状态：</div>
          <div  ng-class="{'statusDisabled':!role.enabled, statusEnabled:role.enabled}" class="col-md-8 tl text-color-c6" ng-show="role" ng-bind="role.enabled?'正常':'已禁用'"></div>
        </div>
      </div>
    </div>
    <div class="tlr">
      <a class="btn btn-default" ng-click="openModifyDialog()">修改组</a>
    </div>
  </div>

  <div ng-show="role.name">
    <hr/>
    <div>
      <ul class="nav nav-tabs">
          <li ng-hide="openAddPermissionTab"　ng-click="switchTab('permission')" role="presentation" ng-class="{active: currentTab=='permission'}"><a>权限列表</a></li>
          <li ng-show="openAddPermissionTab" ng-click="switchTab('permission')" role="presentation" ><a>&lt;&lt;返回权限列表</a></li>
          <li ng-hide="openAddPermissionTab" class="actions" style="float:right;"><a class="btn btn-default" ng-click="showAddPermission()">添加权限</a></li>
      </ul>
    </div>
    <div class="panel-body" ng-if="currentTab=='permission'" ng-class="{'statusDisabled':!role.enabled}" >
        <role-permission id="role.id"></role-permission>
    </div>
    <div class="panel-body" ng-if="currentTab=='permission-add'">
        <role-add-permission id="role.id"></role-add-permission>
    </div>
  </div>
</div>
