<div>
  <div class="row">
    <div class="col-md-2 col-sm-3">
      <div>
        <ul class="nav nav-pills nav-stacked ">
          <li role="presentation" class="text-left"><a href="#/domain">域管理</a></li>
          <li role="presentation" class="text-left"><a href="#/role">角色管理</a></li>
          <li role="presentation" class="text-left"><a href="#/user">用户管理</a></li>
          <li role="presentation" class="text-left active"><a href="#/group">组管理</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10 col-sm-9">
      <form class="navbar-form navbar-left full-width" role="search">
        <div class="input-group fl">
          <span class="">组名称：</span>
          <div class="form-group">
            <input ng-model="groupQuery.name" type="text" class="form-control" placeholder="组名称" maxlength="30">
          </div>

          <!--        <span class="">地域：</span>
          <location class="form-group" province="groupQuery.province" city="groupQuery.city" district="groupQuery.district"></location> -->

          <span class="">禁用：</span>
          <dropdown options="disableDropdownList" pattern="name for value" selected-option="groupQuery.status"></dropdown>

          <button ng-click="queryGroup()" class="float-right btn btn-default">查询</button>
        </div>
        <a class="float-right btn btn-default" ng-href="#/group/add" target="_blank" role="button">新增组</a>
        <!-- /input-group -->

      </form>
      <div>
        <table class="text-left table table-hover grey-border vertical-middle">
          <thead class="text-color-c4">
            <tr>
              <th>组名称</th>
              <!-- <th>所在地域</th> -->
              <!-- <th>上级组</th> -->
              <th>描述信息</th>
              <th>禁用</th>
              <!-- <th>组类型</th> -->
              <!-- <th>操作</th> -->
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="text-color-c6" ng-show="groupTypeLoaded">

            <tr ng-repeat="d in groups">
              <td ng-bind="d.name"></td>
              <!-- <td>{{d.province + d.city + d.district}}</td> -->
              <!--               <td>
                <span ng-if="!d.parentGroupName">无</span>
                <a ng-if="d.parentGroupName" ng-href="#/group/{{d.parentGroupId}}" ng-bind="d.parentGroupName"></a>
              </td> -->
              <td ng-bind="d.description"></td>
              <td ng-bind="!d.enabled?'是':'否'"></td>
              <!-- <td ng-bind="groupTypeObj?groupTypeObj[d.groupType]: d.groupType"></td> -->
              <td class="text-color-c9">
                <a ng-href="#/group/{{d.id}}" target="_blank" ng-click="storeGroupDetail(d)">详情</a>
              </td>
              <!--               <td>
                <a class="btn btn-default" ng-href="#/group/{{d.id}}/add-sub" target="_blank" ng-click="storeGroupDetail(d)">
                  新增子组
                </a>
              </td> -->
            </tr>
          </tbody>
          <tbody>
            <tr ng-if="groupsLoading!='' || !groupTypeLoaded">
              <td colspan="8" class="tc" ng-bind="groupTypeLoaded? groupsLoading: '正在加载...'"></td>
            </tr>
          </tbody>
        </table>
        <pagination ng-if="groups && groups.length" boundary-link-numbers="true" force-ellipses="true" max-size="10" boundary-links="true" ng-change="queryGroup()" items-per-page="pagination.pageSize" total-items="pagination.totalCount" ng-model="pagination.curPage" class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>
</div>
