<div>
  <div ng-include="'views/common/header.html'"></div>
  <div class="row">
    <div class="col-md-2 col-sm-3">
      <div>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active tl"><a href="#/domain">我的应用</a></li>
          <li role="presentation" class="tl"><a href="#/role">角色管理</a></li>
          <li role="presentation" class="tl"><a href="#/user">用户管理</a></li>
          <li role="presentation" class="tl"><a href="#/group">组管理</a></li>
          <li>
            <label></label>
            <li>
        </ul>
      </div>
    </div>
    <div class="col-md-10 col-sm-9">
      <form class="navbar-form navbar-left pd-lt-0 pd-rt-0 full-width" role="search">
        <div class="input-group fl">
          <span class="">搜索目标系统：</span>
          <div class="form-group mg-rt-1">
            <input type="text" class="form-control domain-input-search" placeholder="输入目标系统，邮箱地址，描述信息" ng-model="criteria.name" maxlength="40">
          </div>
          <button type="submit" ng-click="onsearch()" class="btn mg-rt-1 btn-default">查询</button>
          <span class="text-color-c4" ng-if="lastCritria && lastCritria.name">以下列表为搜索【{{lastCritria.name}}】结果</span>
        </div>
        <a class="btn fr btn-default mg-rt-0" ng-click="showAddDialog()" role="button">接入系统</a>
        <div class="clear"></div>
    </form>
      <div>
        <p class="tl"><span class="text-color-c4">当前所有已接入应用系统列表：</span></p>
        <table class="text-left table table-hover grey-border vertical-middle">
          <thead class="text-color-c4">
            <tr>
              <th>目标系统</th>
              <th>管理员邮箱</th>
              <th>描述信息</th>
              <th>有效期(年-月-日)</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody class="text-color-c6">
            <tr ng-repeat="d in domains">
              <td ng-bind="d.name"></td>
              <td>
                <a ng-href="{{d.email}}" target="_blank" ng-bind="d.email"></a>
              </td>
              <td ng-bind="d.description"></td>
              <td ng-bind="(d.starDateTime | date:'yyyy-MM-dd') +'至'+ (d.endDateTime | date:'yyyy-MM-dd')"></td>
              <td><a ng-href="#/domain/{{d._id}}" target="_blank">详情</a></td>
            </tr>
            <tr ng-if="loadingStatus!=''">
              <td colspan="5" class="tc" ng-bind="loadingStatus"></td>
            </tr>
          </tbody>
        </table>
        <div uib-pagination ng-if="domains && domains.length"
        boundary-link-numbers="true"
        force-ellipses="true"
        max-size="10"
        boundary-links="true"
        ng-change="onsearch()"
        items-per-page="pagination.pageSize"
        total-items="pagination.totalCount"
        ng-model="pagination.curPage"
        class="pagination-sm float-right"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;"></div>
      </div>
    </div>
  </div>
</div>
