<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/domain">日志集成管理系统</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <select ng-show="domainDetail.env && domainDetail.env.length"
          ng-model="envDetails"
          ng-change="updateSelectedEnv(envDetails.name, true)"
          ng-options="env.name for env in domainDetail.env" class="dropdown env-menu">
        </select>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="domainDetail.name" class="actions"><button id="addHeaderEnv" class="btn btn-primary" ng-click="showAddEnvDialog(false)">添加部署环境</button></li>
          <li><a onclick="javascript(void:0)">当前用户：<span ng-bind="userInfo.email"></span></a></li>
          <li><a href="" ng-click="logout()">安全退出</a></li>
          <li><a href="" ng-click="setting()">设置</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <p class="notFoundOrError" ng-show="notFound">未查询相关信息，该信息很可能已被删除。</p>
  <p class="notFoundOrError" ng-show="serverError">服务器异常，请稍后再试。</p>

  <div ng-show="domainDetail.name">
    <div class="tl panel">
      <div class="panel-heading">
        <p class="text-size-s1 text-color-c6">域信息</p>
        <div class="row text-size-s3">
          <div class="col-md-6">
            <div class="col-md-3 text-color-c4">应用名称：</div>
            <div class="col-md-9 tl text-color-c6">
              <span ng-bind="domainDetail.displayName"></span>
              <a ng-bind="domainDetail.name" ng-href="{{domainDetail.name}}"></a>
            </div>
          </div>
        </div>
        <div class="row text-size-s3">
          <div class="col-md-6">
            <div class="col-md-3 text-color-c4">域ID：</div>
            <div class="col-md-9 tl text-color-c6" ng-bind="domainDetail.id"></div>
          </div>
          <div class="col-md-6">
            <div class="col-md-3 text-color-c4">域Key：</div>
            <div class="col-md-9 tl text-color-c6" ng-bind="domainDetail.id"></div>
          </div>
        </div>
        <div class="row text-size-s3">
          <div class="col-md-6">
            <div class="col-md-3 text-color-c4">日志级别：</div>
            <div class="col-md-9 tl text-color-c6" ng-bind="domainDetail.key"></div>
          </div>
          <div class="col-md-6">
            <div class="col-md-3 text-color-c4">联系邮箱：</div>
            <div class="col-md-9 tl text-color-c6" ng-bind="domainDetail.key"></div>
          </div>
        </div>
        <div class="row text-size-s3">
          <div class="col-md-3 text-color-c4">描述信息：</div>
          <div class="col-md-9 tl text-color-c6" ng-bind="domainDetail.description"></div>
        </div>
      </div>
      <div ng-show="envDetails.name">
        <hr/>
        <div>
          <ul class="nav nav-tabs">
            <li ng-click="switchTab('basic')" role="presentation" ng-class="{active: currentTab=='basic'}"><a>基本信息</a></li>
            <li ng-click="switchTab('rule')" role="presentation" ng-class="{active: currentTab=='rule'}"><a>邮件规则</a></li>
            <li ng-click="switchTab('node')" role="presentation" ng-class="{active: currentTab=='node'}"><a>节点状态</a></li>
            <li ng-click="switchTab('user')" role="presentation" ng-class="{active: currentTab=='user'}"><a>用户权限</a></li>
            <!-- <li style="float:right;"><a class="btn btn-default" ng-href="#/role/{{paramRoleId}}/url-management" role="button">添加组</a></li> -->
          </ul>
        </div>
        <div class="panel-body" ng-if="currentTab=='basic'">
          <domain-basic env-details="envDetails" domain-id="paramDomainId"></domain-basic>
        </div>
        <div class="panel-body" ng-if="currentTab=='rule'">
          <domain-rule></domain-rule>
        </div>
        <div class="panel-body" ng-if="currentTab=='node'">
          <domain-node></domain-node>
        </div>
        <div class="panel-body" ng-if="currentTab=='user'">
          <domain-user domain-id="paramDomainId" env="envDetails.id"></domain-user>
        </div>
      </div>
    </div>
  </div>
</div>
