<div class="tl panel">
  <div class="panel-heading">
    <p class="text-size-s1 text-color-c6">接入系统信息</p>
    <div class="row" ng-if="loadingStatus!=''">
      <div class="col-md-12 tc" ng-bind="loadingStatus">正在加载</div>
    </div>
    <div class="row text-size-s3" ng-if="!loadingStatus">
      <div class="col-md-6">
        <div class="col-md-3 text-color-c4">目标系统</div>
        <div class="col-md-9 tl text-color-c6">
          <span ng-bind="domain.displayName"></span>
          <a ng-bind="domain.name" ng-href="{{domain.name}}"></a>
        </div>
      </div>
    </div>
    <div class="row text-size-s3" ng-if="!loadingStatus">
      <div class="col-md-6">
        <div class="col-md-3 text-color-c4">管理员邮箱</div>
        <div class="col-md-9 tl text-color-c6" ng-bind="domain.id"></div>
      </div>
      <div class="col-md-6">
        <div class="col-md-3 text-color-c4">有效期</div>
        <div class="col-md-9 tl text-color-c6" ng-bind="domain.id"></div>
      </div>
    </div>
    <div class="row text-size-s3" ng-if="!loadingStatus">
      <div class="col-md-3 text-color-c4">描述信息：</div>
      <div class="col-md-9 tl text-color-c6" ng-bind="domain.description"></div>
    </div>
    <a class="btn fr btn-default" ng-href="#/domain/{{paramDomainId}}/management" role="button">修改</a>
  </div>

  <dialog dialog="removeDomainUserDialog"></dialog>
