<div id="ua-login">
  <div id="system-selector" class="row">
    <h3>日志集成管理系统</h3>
  </div>
  <div id="login-info">
    <ng-form name="login" role="form" id="loginForm">
      <div class="form-group" style="position: relative;">
        <input id="username" type="text" name="username" ng-model="username" placeholder="请输入用户名" required class="form-control login-input" ng-class="{true: 'emailInvalid'}[emailInvalid]" ng-keypress="enterEvent($event)">
        <a ng-class="{true: 'clear'}[hasUsername]" ng-click="usernameClear()">
        </a>
      </div>
      <div class="form-group" style="position: relative;">
        <input id="password" type="password" name="password" ng-model="password" placeholder="请输入登录密码" required class="form-control login-input" ng-keypress="enterEvent($event)">
        <a ng-class="{true: 'clear'}[hasPassword]" ng-click="passwordClear()"></a>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <label class="checkbox">
            <input id="rem-pwd" type="checkbox" ng-model="remPwd">记住我
          </label>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <div class="forget-pwd"><a href="#/login/resetPwd" text-decoration:none;>忘记密码?</a></div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 input-alert">
          <div ng-show="loginFailed" class="alert-content" ng-bind="loginAlertContent"></div>
        </div>
      </div>
      <div class="form-group">
        <button id="submit-form" type="button" ng-disabled="isSubmitLoginEnable()" ng-click="submit()" class="btn">登录
        </button>
      </div>
    </ng-form>
  </div>
</div>
