<div id="ua-login">
  <div id="system-selector" class="row">
    <h3>日志集成管理系统</h3>
  </div>
  <div id="login-info">
    <form name="login" role="form" id="loginForm">
      <div class="form-group" style="position: relative;">
        <input type="email" maxlength="40" ng-model="username" placeholder="请输入登录邮箱" required class="form-control login-input" ng-class="{true: 'emailInvalid'}[emailInvalid]">
      </div>
      <div class="form-group" style="position: relative;">
        <input type="password" maxlength="16" ng-model="password" placeholder="请输入登录密码" required class="form-control login-input">
        <div class="col-md-6 col-lg-6 col-sm-6">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <div class="forget-pwd"><a href="#/login/resetPwd" text-decoration:none;>忘记密码?</a></div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 input-alert">
          <div ng-show="loginAlertContent" class="alert-content" ng-bind="loginAlertContent"></div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" ng-click="submit()" class="btn">登录</button>
      </div>
    </form>
  </div>
</div>
