<div>
  <form class="navbar-form navbar-left full-width pd-lt-0 pd-rt-0" role="search">
    <div class="input-group fl">
      <span class="">用户邮箱：</span>
      <div class="form-group mg-rt-1">
        <input type="text" class="form-control" placeholder="用户邮箱" ng-model="criteria.email" maxlength="40">
      </div>
      <button type="submit" ng-click="queryUser()" class="btn mg-rt-1 btn-default">查询</button>
      <span class="text-color-c4" ng-if="lastCritria && lastCritria.email">搜索【{{lastCritria.email}}】结果:</span>
    </div>
    <a class="btn fr btn-default" ng-click="addModifyUserDialog()" role="button">添加用户</a>
    <div class="clear"></div>
</form>

  <div>
    <table class="text-left table table-striped vertical-middle">
      <thead class="text-color-c4">
        <tr>
          <th>序号</th>
          <th>用户</th>
          <th>角色</th>
          <th>创建时间</th>
          <th>修改时间</th>
          <th>状态</th>
          <th class="tc">操作</th>
        </tr>
      </thead>
      <tbody class="text-color-c6">
        <tr ng-repeat="d in users" ng-class="{'text-color-c4':(d.status==='disabled')}">
          <td>{{$index + 1}}</td>
          <td ng-bind="d.name+'('+d.email+')'"></td>
          <td ng-bind="d.userType"></td>
          <td ng-bind="d.createDate | date: 'yyyy-MM-dd HH:mm'"></td>
          <td ng-bind="d.lastUpdate | date: 'yyyy-MM-dd HH:mm'"></td>
          <td ng-bind="d.status==='disabled'?'已禁用':''"></td>
          <td class="text-color-c9 tc">
            <a ng-click="addModifyUserDialog(d)" target="_blank">编辑</a>
          </td>
        </tr>

        <tbody>
          <tr ng-if="loadingStatus!=''">
            <td colspan="6" class="tc" ng-bind="loadingStatus"></td>
          </tr>
        </tbody>

      </tbody>
    </table>
    <div uib-pagination ng-if="users && users.length" boundary-link-numbers="true" force-ellipses="true" max-size="10" boundary-links="true" ng-change="queryUser()" items-per-page="pagination.pageSize" total-items="pagination.totalCount" ng-model="pagination.curPage" class="pagination-sm float-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></div>
  </div>
</div>
